<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pa3</display-name>
  <servlet>
    <servlet-name>DisplayProduct</servlet-name>
    <servlet-class>DisplayProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProduct</servlet-name>
    <url-pattern>/displayproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HistoryProduct</servlet-name>
    <servlet-class>HistoryProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryProduct</servlet-name>
    <url-pattern>/historyproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadCookies</servlet-name>
    <servlet-class>ReadCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookies</servlet-name>
    <url-pattern>/readcookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductInfo</servlet-name>
    <servlet-class>ProductInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfo</servlet-name>
    <url-pattern>/productinfo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>